html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 13px;
    line-height: 20px;
    margin: 0px;
}
.top {
    position: fixed;
    width: 100%;
    -webkit-app-region:drag;
}
.center_content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}
.center-in-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
